
@{
    ViewData["Title"] = "HienThiVeTau";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
	body {
		margin: 0;
		padding: 0;
		font-family: sans-serif;
	}

	header {
		background-color: #333;
		color: #fff;
		padding: 20px;
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}

	.content {
		background-color: #f2f2f2;
		padding: 20px;
		border: 1px solid #ccc;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
		text-align: center;
	}

	p {
		margin: 10px 0;
	}
</style>
<body>
		<div class="container">
			<div class="content">
		<p>Bạn đã đặt vé thành công!</p>
			<p>Thông tin vé đã được gửi về số điện thoại và email của bạn.</p>
			<p>Cảm ơn quý khách đã sử dụng dịch vụ của chúng tôi.</p>
		</div>
	</div>
</body>